body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan;
}

h1 {
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: lightcoral;
}

h2 {
    text-align: center;
}