body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: wheat;
}

h1,
h2 {
  margin: 5px;
}

.board {
  margin-top: 10px;
  background-color: white;
  border: 2px solid black;
  width: 412px;
  height: 412px;
  padding: 5px;
}
