body {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
}

.container {
  border: 2px solid black;
  width: 500px;
  height: 2000px;
  background-color: white;
}

.rect {
  border: 2px solid green;
  background-color: lightgreen;
  width: 270px;
  height: 90px;
  margin: 5px;
  text-align: center;
  font-size: 1.25rem;
}

#rect-1 {
  position: absolute;
  bottom: 50px;
}

#rect-2 {
  position: relative;
  top: 50px;
}

#rect-3 {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

#rect-4 {
  position: sticky;
  top: 0px;
}

#rect-16 {
  position: sticky;
  bottom: 0px;
}

#rect-14 {
  position: fixed;
  top: 0px;
  right: 0px;
}
