<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Todo List Flask</h1>
    <form class="input-container" action="{{ url_for('home') }}" method="POST">
        <input type="text" placeholder="Enter todo" id="input-todo" name="todo_name">
        <button id="add-todo">+</button>
    </form>
    <h2>Todos</h2>
    <div class="todo-container">
        {% for item in items %}
        <div class="todo">
            <p>{{ item.name }}</p>
            <div class="actions">
                <form action="{{ url_for('checked_todo', todo_id=item.id) }}" method="POST">
                    <input type="checkbox" name="checked" {% if item.checked %}checked{% endif %}
                        onchange="this.form.submit()">
                </form>
                <form action="{{ url_for('delete_todo', todo_id=item.id) }}" method="POST">
                    <button>Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>