body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
}

.container {
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
    border: 2px solid black;
    box-shadow: 0px 5px 0px 0px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 25px;
}

#time-screen {
    border: 2px solid black;
    padding: 5px;
    box-shadow: 0px 0px 3px 0px black inset;
    background-color: whitesmoke;
    border-radius: 10px;
}

.controls {
    display: flex;
    gap: 10px;
}

.btn {
    width: 60px;
    border: 2px solid black;
    box-shadow: 0px 3px 0px 0px black;
    margin-bottom: 25px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    background-color: lightgoldenrodyellow;
    border-radius: 15px;
}

.btn:hover {
    background-color: wheat;
}

.btn:active {
    box-shadow: 0px 2px 0px 0px black;
}